input[type=text] {
    width: 80vw;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid teal;
    border-radius: 4px;
}
label{
    color:#5B5B5B;
}
textarea {
    width: 80vw;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid teal;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
select {
    width: 80vw;
    padding: 16px 20px;
    margin: 8px 0;
    border: 2px solid teal;
    border-radius: 4px;
    background-color: #f1f1f1;
}
