@charset "UTF-8";

@font-face {
  font-family: "FontAwesome";
  src: url(/fonts/fontawesome-webfont.eot?455808250694e5760bd92b3ce1f070b6);
  src: url(/fonts/fontawesome-webfont.eot?455808250694e5760bd92b3ce1f070b6) format("embedded-opentype"), url(/fonts/fontawesome-webfont.woff?21f212f94a9db6a0e3847c921842aa19) format("woff"), url(/fonts/fontawesome-webfont.ttf?bb72c5142ae2ae4ca0f9c0653a09871c) format("truetype"), url(/fonts/fontawesome-webfont.svg?b8e4dbe6872f049283c54da9d94a7b7a) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Font-Awesome-Social";
  src: url(/fonts/fontawesome-social-webfont.eot?da90b6f64aa681e9959a79cbf47d6099);
  src: url(/fonts/fontawesome-social-webfont.eot?da90b6f64aa681e9959a79cbf47d6099) format("embedded-opentype"), url(/fonts/fontawesome-social-webfont.woff?f288630d1b592185faa69b2b1e4a333d) format("woff"), url(/fonts/fontawesome-social-webfont.ttf?1d4ff8fc57f9441485ceb8169f9b6354) format("truetype"), url(/fonts/fontawesome-social-webfont.svg?efc62637b100576f97764472d3b6dfca) format("svg");
  font-weight: normal;
  font-style: normal;
}

/*********************************************************************************/

/* Icons                                                                         */

/*********************************************************************************/

/*
	Powered by:

	Font Awesome (http://fortawesome.github.com/Font-Awesome/)
	Font Awesome More (http://gregoryloucas.github.com/Font-Awesome-More/)
*/

.icon {
  text-decoration: none;
}

.icon:before {
  font-size: 1.25em;
  text-decoration: none;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}

.icon-glass:before {
  content: "\F000";
}

.icon-music:before {
  content: "\F001";
}

.icon-search:before {
  content: "\F002";
}

.icon-envelope:before {
  content: "\F003";
}

.icon-heart:before {
  content: "\F004";
}

.icon-star:before {
  content: "\F005";
}

.icon-star-empty:before {
  content: "\F006";
}

.icon-user:before {
  content: "\F007";
}

.icon-film:before {
  content: "\F008";
}

.icon-th-large:before {
  content: "\F009";
}

.icon-th:before {
  content: "\F00A";
}

.icon-th-list:before {
  content: "\F00B";
}

.icon-ok:before {
  content: "\F00C";
}

.icon-remove:before {
  content: "\F00D";
}

.icon-zoom-in:before {
  content: "\F00E";
}

.icon-zoom-out:before {
  content: "\F010";
}

.icon-off:before {
  content: "\F011";
}

.icon-signal:before {
  content: "\F012";
}

.icon-cog:before {
  content: "\F013";
}

.icon-trash:before {
  content: "\F014";
}

.icon-home:before {
  content: "\F015";
}

.icon-file:before {
  content: "\F016";
}

.icon-time:before {
  content: "\F017";
}

.icon-road:before {
  content: "\F018";
}

.icon-download-alt:before {
  content: "\F019";
}

.icon-download:before {
  content: "\F01A";
}

.icon-upload:before {
  content: "\F01B";
}

.icon-inbox:before {
  content: "\F01C";
}

.icon-play-circle:before {
  content: "\F01D";
}

.icon-repeat:before {
  content: "\F01E";
}

/* \f020 doesn't work in Safari. all shifted one down */

.icon-refresh:before {
  content: "\F021";
}

.icon-list-alt:before {
  content: "\F022";
}

.icon-lock:before {
  content: "\F023";
}

.icon-flag:before {
  content: "\F024";
}

.icon-headphones:before {
  content: "\F025";
}

.icon-volume-off:before {
  content: "\F026";
}

.icon-volume-down:before {
  content: "\F027";
}

.icon-volume-up:before {
  content: "\F028";
}

.icon-qrcode:before {
  content: "\F029";
}

.icon-barcode:before {
  content: "\F02A";
}

.icon-tag:before {
  content: "\F02B";
}

.icon-tags:before {
  content: "\F02C";
}

.icon-book:before {
  content: "\F02D";
}

.icon-bookmark:before {
  content: "\F02E";
}

.icon-print:before {
  content: "\F02F";
}

.icon-camera:before {
  content: "\F030";
}

.icon-font:before {
  content: "\F031";
}

.icon-bold:before {
  content: "\F032";
}

.icon-italic:before {
  content: "\F033";
}

.icon-text-height:before {
  content: "\F034";
}

.icon-text-width:before {
  content: "\F035";
}

.icon-align-left:before {
  content: "\F036";
}

.icon-align-center:before {
  content: "\F037";
}

.icon-align-right:before {
  content: "\F038";
}

.icon-align-justify:before {
  content: "\F039";
}

.icon-list:before {
  content: "\F03A";
}

.icon-indent-left:before {
  content: "\F03B";
}

.icon-indent-right:before {
  content: "\F03C";
}

.icon-facetime-video:before {
  content: "\F03D";
}

.icon-picture:before {
  content: "\F03E";
}

.icon-pencil:before {
  content: "\F040";
}

.icon-map-marker:before {
  content: "\F041";
}

.icon-adjust:before {
  content: "\F042";
}

.icon-tint:before {
  content: "\F043";
}

.icon-edit:before {
  content: "\F044";
}

.icon-share:before {
  content: "\F045";
}

.icon-check:before {
  content: "\F046";
}

.icon-move:before {
  content: "\F047";
}

.icon-step-backward:before {
  content: "\F048";
}

.icon-fast-backward:before {
  content: "\F049";
}

.icon-backward:before {
  content: "\F04A";
}

.icon-play:before {
  content: "\F04B";
}

.icon-pause:before {
  content: "\F04C";
}

.icon-stop:before {
  content: "\F04D";
}

.icon-forward:before {
  content: "\F04E";
}

.icon-fast-forward:before {
  content: "\F050";
}

.icon-step-forward:before {
  content: "\F051";
}

.icon-eject:before {
  content: "\F052";
}

.icon-chevron-left:before {
  content: "\F053";
}

.icon-chevron-right:before {
  content: "\F054";
}

.icon-plus-sign:before {
  content: "\F055";
}

.icon-minus-sign:before {
  content: "\F056";
}

.icon-remove-sign:before {
  content: "\F057";
}

.icon-ok-sign:before {
  content: "\F058";
}

.icon-question-sign:before {
  content: "\F059";
}

.icon-info-sign:before {
  content: "\F05A";
}

.icon-screenshot:before {
  content: "\F05B";
}

.icon-remove-circle:before {
  content: "\F05C";
}

.icon-ok-circle:before {
  content: "\F05D";
}

.icon-ban-circle:before {
  content: "\F05E";
}

.icon-arrow-left:before {
  content: "\F060";
}

.icon-arrow-right:before {
  content: "\F061";
}

.icon-arrow-up:before {
  content: "\F062";
}

.icon-arrow-down:before {
  content: "\F063";
}

.icon-share-alt:before {
  content: "\F064";
}

.icon-resize-full:before {
  content: "\F065";
}

.icon-resize-small:before {
  content: "\F066";
}

.icon-plus:before {
  content: "\F067";
}

.icon-minus:before {
  content: "\F068";
}

.icon-asterisk:before {
  content: "\F069";
}

.icon-exclamation-sign:before {
  content: "\F06A";
}

.icon-gift:before {
  content: "\F06B";
}

.icon-leaf:before {
  content: "\F06C";
}

.icon-fire:before {
  content: "\F06D";
}

.icon-eye-open:before {
  content: "\F06E";
}

.icon-eye-close:before {
  content: "\F070";
}

.icon-warning-sign:before {
  content: "\F071";
}

.icon-plane:before {
  content: "\F072";
}

.icon-calendar:before {
  content: "\F073";
}

.icon-random:before {
  content: "\F074";
}

.icon-comment:before {
  content: "\F075";
}

.icon-magnet:before {
  content: "\F076";
}

.icon-chevron-up:before {
  content: "\F077";
}

.icon-chevron-down:before {
  content: "\F078";
}

.icon-retweet:before {
  content: "\F079";
}

.icon-shopping-cart:before {
  content: "\F07A";
}

.icon-folder-close:before {
  content: "\F07B";
}

.icon-folder-open:before {
  content: "\F07C";
}

.icon-resize-vertical:before {
  content: "\F07D";
}

.icon-resize-horizontal:before {
  content: "\F07E";
}

.icon-bar-chart:before {
  content: "\F080";
}

.icon-twitter-sign:before {
  content: "\F081";
}

.icon-facebook-sign:before {
  content: "\F082";
}

.icon-camera-retro:before {
  content: "\F083";
}

.icon-key:before {
  content: "\F084";
}

.icon-cogs:before {
  content: "\F085";
}

.icon-comments:before {
  content: "\F086";
}

.icon-thumbs-up:before {
  content: "\F087";
}

.icon-thumbs-down:before {
  content: "\F088";
}

.icon-star-half:before {
  content: "\F089";
}

.icon-heart-empty:before {
  content: "\F08A";
}

.icon-signout:before {
  content: "\F08B";
}

.icon-linkedin-sign:before {
  content: "\F08C";
}

.icon-pushpin:before {
  content: "\F08D";
}

.icon-external-link:before {
  content: "\F08E";
}

.icon-signin:before {
  content: "\F090";
}

.icon-trophy:before {
  content: "\F091";
}

.icon-github-sign:before {
  content: "\F092";
}

.icon-upload-alt:before {
  content: "\F093";
}

.icon-lemon:before {
  content: "\F094";
}

.icon-phone:before {
  content: "\F095";
}

.icon-check-empty:before {
  content: "\F096";
}

.icon-bookmark-empty:before {
  content: "\F097";
}

.icon-phone-sign:before {
  content: "\F098";
}

.icon-twitter:before {
  content: "\F099";
}

.icon-facebook:before {
  content: "\F09A";
}

.icon-github:before {
  content: "\F09B";
}

.icon-unlock:before {
  content: "\F09C";
}

.icon-credit-card:before {
  content: "\F09D";
}

.icon-rss:before {
  content: "\F09E";
}

.icon-hdd:before {
  content: "\F0A0";
}

.icon-bullhorn:before {
  content: "\F0A1";
}

.icon-bell:before {
  content: "\F0A2";
}

.icon-certificate:before {
  content: "\F0A3";
}

.icon-hand-right:before {
  content: "\F0A4";
}

.icon-hand-left:before {
  content: "\F0A5";
}

.icon-hand-up:before {
  content: "\F0A6";
}

.icon-hand-down:before {
  content: "\F0A7";
}

.icon-circle-arrow-left:before {
  content: "\F0A8";
}

.icon-circle-arrow-right:before {
  content: "\F0A9";
}

.icon-circle-arrow-up:before {
  content: "\F0AA";
}

.icon-circle-arrow-down:before {
  content: "\F0AB";
}

.icon-globe:before {
  content: "\F0AC";
}

.icon-wrench:before {
  content: "\F0AD";
}

.icon-tasks:before {
  content: "\F0AE";
}

.icon-filter:before {
  content: "\F0B0";
}

.icon-briefcase:before {
  content: "\F0B1";
}

.icon-fullscreen:before {
  content: "\F0B2";
}

.icon-group:before {
  content: "\F0C0";
}

.icon-link:before {
  content: "\F0C1";
}

.icon-cloud:before {
  content: "\F0C2";
}

.icon-beaker:before {
  content: "\F0C3";
}

.icon-cut:before {
  content: "\F0C4";
}

.icon-copy:before {
  content: "\F0C5";
}

.icon-paper-clip:before {
  content: "\F0C6";
}

.icon-save:before {
  content: "\F0C7";
}

.icon-sign-blank:before {
  content: "\F0C8";
}

.icon-reorder:before {
  content: "\F0C9";
}

.icon-list-ul:before {
  content: "\F0CA";
}

.icon-list-ol:before {
  content: "\F0CB";
}

.icon-strikethrough:before {
  content: "\F0CC";
}

.icon-underline:before {
  content: "\F0CD";
}

.icon-table:before {
  content: "\F0CE";
}

.icon-magic:before {
  content: "\F0D0";
}

.icon-truck:before {
  content: "\F0D1";
}

.icon-pinterest:before {
  content: "\F0D2";
}

.icon-pinterest-sign:before {
  content: "\F0D3";
}

.icon-google-plus-sign:before {
  content: "\F0D4";
}

.icon-google-plus:before {
  content: "\F0D5";
}

.icon-money:before {
  content: "\F0D6";
}

.icon-caret-down:before {
  content: "\F0D7";
}

.icon-caret-up:before {
  content: "\F0D8";
}

.icon-caret-left:before {
  content: "\F0D9";
}

.icon-caret-right:before {
  content: "\F0DA";
}

.icon-columns:before {
  content: "\F0DB";
}

.icon-sort:before {
  content: "\F0DC";
}

.icon-sort-down:before {
  content: "\F0DD";
}

.icon-sort-up:before {
  content: "\F0DE";
}

.icon-envelope-alt:before {
  content: "\F0E0";
}

.icon-linkedin:before {
  content: "\F0E1";
}

.icon-undo:before {
  content: "\F0E2";
}

.icon-legal:before {
  content: "\F0E3";
}

.icon-dashboard:before {
  content: "\F0E4";
}

.icon-comment-alt:before {
  content: "\F0E5";
}

.icon-comments-alt:before {
  content: "\F0E6";
}

.icon-bolt:before {
  content: "\F0E7";
}

.icon-sitemap:before {
  content: "\F0E8";
}

.icon-umbrella:before {
  content: "\F0E9";
}

.icon-paste:before {
  content: "\F0EA";
}

.icon-lightbulb:before {
  content: "\F0EB";
}

.icon-exchange:before {
  content: "\F0EC";
}

.icon-cloud-download:before {
  content: "\F0ED";
}

.icon-cloud-upload:before {
  content: "\F0EE";
}

.icon-user-md:before {
  content: "\F0F0";
}

.icon-stethoscope:before {
  content: "\F0F1";
}

.icon-suitcase:before {
  content: "\F0F2";
}

.icon-bell-alt:before {
  content: "\F0F3";
}

.icon-coffee:before {
  content: "\F0F4";
}

.icon-food:before {
  content: "\F0F5";
}

.icon-file-alt:before {
  content: "\F0F6";
}

.icon-building:before {
  content: "\F0F7";
}

.icon-hospital:before {
  content: "\F0F8";
}

.icon-ambulance:before {
  content: "\F0F9";
}

.icon-medkit:before {
  content: "\F0FA";
}

.icon-fighter-jet:before {
  content: "\F0FB";
}

.icon-beer:before {
  content: "\F0FC";
}

.icon-h-sign:before {
  content: "\F0FD";
}

.icon-plus-sign-alt:before {
  content: "\F0FE";
}

.icon-double-angle-left:before {
  content: "\F100";
}

.icon-double-angle-right:before {
  content: "\F101";
}

.icon-double-angle-up:before {
  content: "\F102";
}

.icon-double-angle-down:before {
  content: "\F103";
}

.icon-angle-left:before {
  content: "\F104";
}

.icon-angle-right:before {
  content: "\F105";
}

.icon-angle-up:before {
  content: "\F106";
}

.icon-angle-down:before {
  content: "\F107";
}

.icon-desktop:before {
  content: "\F108";
}

.icon-laptop:before {
  content: "\F109";
}

.icon-tablet:before {
  content: "\F10A";
}

.icon-mobile-phone:before {
  content: "\F10B";
}

.icon-circle-blank:before {
  content: "\F10C";
}

.icon-quote-left:before {
  content: "\F10D";
}

.icon-quote-right:before {
  content: "\F10E";
}

.icon-spinner:before {
  content: "\F110";
}

.icon-circle:before {
  content: "\F111";
}

.icon-reply:before {
  content: "\F112";
}

.icon-github-alt:before {
  content: "\F113";
}

.icon-folder-close-alt:before {
  content: "\F114";
}

.icon-folder-open-alt:before {
  content: "\F115";
}

.icon-blogger-sign:before,
.icon-blogger:before,
.icon-delicious:before,
.icon-dribbble-sign:before,
.icon-dribbble:before,
.icon-dropbox:before,
.icon-drupal:before,
.icon-evernote-sign:before,
.icon-evernote:before,
.icon-flickr-sign:before,
.icon-flickr:before,
.icon-forrst-sign:before,
.icon-forrst:before,
.icon-foursquare-sign:before,
.icon-foursquare:before,
.icon-git-fork:before,
.icon-hacker-news:before,
.icon-instagram:before,
.icon-lastfm-sign:before,
.icon-lastfm:before,
.icon-paypal:before,
.icon-picasa-sign:before,
.icon-picasa:before,
.icon-reddit:before,
.icon-share-this-sign:before,
.icon-share-this:before,
.icon-skype:before,
.icon-soundcloud:before,
.icon-spotify:before,
.icon-stack-overflow:before,
.icon-tumblr-sign:before,
.icon-tumblr:before,
.icon-vimeo-sign:before,
.icon-vimeo:before,
.icon-wordpress-sign:before,
.icon-wordpress:before,
.icon-yelp-sign:before,
.icon-yelp:before,
.icon-youtube-sign:before,
.icon-youtube:before {
  font-family: "Font-Awesome-Social";
}

.icon-dropbox:before {
  content: "\F300";
}

.icon-drupal:before {
  content: "\F301";
}

.icon-git-fork:before {
  content: "\F302";
}

.icon-instagram:before {
  content: "\F303";
}

.icon-share-this-sign:before {
  content: "\F304";
}

.icon-share-this:before {
  content: "\F305";
}

.icon-foursquare-sign:before {
  content: "\F306";
}

.icon-foursquare:before {
  content: "\F307";
}

.icon-hacker-news:before {
  content: "\F308";
}

.icon-skype:before {
  content: "\F309";
}

.icon-spotify:before {
  content: "\F30A";
}

.icon-soundcloud:before {
  content: "\F30B";
}

.icon-paypal:before {
  content: "\F30C";
}

.icon-youtube-sign:before {
  content: "\F30D";
}

.icon-youtube:before {
  content: "\F30E";
}

.icon-reddit:before {
  content: "\F30F";
}

.icon-blogger-sign:before {
  content: "\F310";
}

.icon-blogger:before {
  content: "\F311";
}

.icon-dribbble-sign:before {
  content: "\F312";
}

.icon-dribbble:before {
  content: "\F313";
}

.icon-evernote-sign:before {
  content: "\F314";
}

.icon-evernote:before {
  content: "\F315";
}

.icon-flickr-sign:before {
  content: "\F316";
}

.icon-flickr:before {
  content: "\F317";
}

.icon-forrst-sign:before {
  content: "\F318";
}

.icon-forrst:before {
  content: "\F319";
}

.icon-delicious:before {
  content: "\F31A";
}

.icon-lastfm-sign:before {
  content: "\F31B";
}

.icon-lastfm:before {
  content: "\F31C";
}

.icon-picasa-sign:before {
  content: "\F31D";
}

.icon-picasa:before {
  content: "\F31E";
}

.icon-stack-overflow:before {
  content: "\F320";
}

.icon-tumblr-sign:before {
  content: "\F321";
}

.icon-tumblr:before {
  content: "\F322";
}

.icon-vimeo-sign:before {
  content: "\F323";
}

.icon-vimeo:before {
  content: "\F324";
}

.icon-wordpress-sign:before {
  content: "\F325";
}

.icon-wordpress:before {
  content: "\F326";
}

.icon-yelp-sign:before {
  content: "\F327";
}

.icon-yelp:before {
  content: "\F328";
}

.icon-cloud-upload:before {
  content: "\F0EE";
}

.icon-cloud-download:before {
  content: "\F0ED";
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 11pt;
  color: #5B5B5B;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 1.6em;
}

p,
ol,
ul {
  margin-top: 0px;
}

p {
  line-height: 180%;
}

a {
  color: #222222;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

img.alignleft {
  float: left;
}

img.alignright {
  float: right;
}

img.aligncenter {
  margin: 0px auto;
}

hr {
  display: none;
}

.title {
  border-bottom: solid 1px #dbdbdb;
  margin: 0 0 3em 0;
  text-align: center;
  text-transform: uppercase;
}

.clock {
  display: flex;
  margin: 0 0 3em 0;
  justify-content: center;
  font-size: 2rem;
  font-weight: bolder;
}

.title:after {
  content: "";
  display: block;
  border-top: solid 1px #dbdbdb;
  height: 8px;
}

.title h2 {
  margin: 0 0 1em 0;
  font-weight: 700;
}

.title .byline {
  position: relative;
  top: -2em;
  font-weight: 700;
  font-size: 1.1em;
  color: #8E8E8E;
}

ul.contact {
  overflow: hidden;
  margin: 0em 0 5em 0;
  padding-top: 1em;
  text-align: center;
}

ul.contact li {
  display: inline-block;
  margin-right: 0.5em;
  font-size: 1.2em;
}

ul.contact li span {
  display: none;
  margin: 0;
  padding: 0;
}

ul.contact li a {
  color: #FFF;
}

ul.contact li a:before {
  display: inline-block;
  background: #3f3f3f;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

ul.contact li a.icon-twitter:before {
  background: #2DAAE4;
}

ul.contact li a.icon-facebook:before {
  background: #39599F;
}

ul.contact li a.icon-dribbble:before {
  background: #C4376B;
}

ul.contact li a.icon-tumblr:before {
  background: #31516A;
}

ul.contact li a.icon-rss:before {
  background: #F2600B;
}

.button {
  display: inline-block;
  margin-top: 2em;
  padding: 1em 3em;
  background: #C4376B;
  border-radius: 7px;
  transition: opacity 0.25s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  color: #FFF;
}

.button:hover {
  background: #D64077;
}

.button:active {
  background: #BD3567;
}

/** WRAPPER */

.wrapper-style1 {
  overflow: hidden;
  width: 1200px;
  margin: 0px auto;
  padding: 3em 0em;
}

.task {
  border: 1px solid teal;
  padding: 1rem;
  margin-bottom: 1rem;
}

.date {
  margin-right: 0.5rem;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

.clearfix {
  clear: both;
}

.image {
  display: inline-block;
}

.image img {
  display: block;
  width: 100%;
}

.image-full {
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
}

.image-left {
  float: left;
  margin: 0 2em 2em 0;
}

.image-centered {
  display: block;
  margin: 0 0 2em 0;
}

.image-centered img {
  margin: 0 auto;
  width: auto;
}

/*********************************************************************************/

/* Header                                                                        */

/*********************************************************************************/

#header {
  position: relative;
  margin-bottom: 3em;
  height: 13em;
  border-bottom: 1px solid #dbdbdb;
}

/*********************************************************************************/

/* Logo                                                                          */

/*********************************************************************************/

#logo {
  position: absolute;
  top: 3.2em;
  left: 0;
  width: 100%;
  margin-top: -0.5em;
}

#logo h1 {
  display: inline-block;
  padding: 0.8em 1.3em 0.6em 0.5em;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 900;
  color: #404040;
}

.homepage #logo h1 {
  display: inline-block;
  padding: 0.6em 1.3em;
  font-size: 2.7em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 700;
  color: #404040;
}

#logo a {
  text-decoration: none;
}

/*********************************************************************************/

/* Menu                                                                           */

/*********************************************************************************/

#menu {
  position: absolute;
  right: 0;
  top: 5em;
}

.homepage #menu {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

#menu > ul > li > ul {
  display: none;
}

#menu ul {
  display: inline-block;
}

#menu li {
  display: block;
  float: left;
  text-align: center;
}

#menu li a,
#menu li span {
  display: block;
  padding: 0.8em 1.5em;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  outline: 0;
  color: #595959;
}

#menu .current_page_item a {
  background: #1097de;
  border-radius: 8px;
  color: #FFF;
}

/** PAGE */

/** CONTENT */

/** SIDEBAR */

/* Footer */

#footer {
  overflow: hidden;
  padding: 5em 0em;
  text-align: center;
}

#footer header {
  margin-bottom: 2em;
  text-align: center;
}

#footer .title {
  display: inline-block;
  text-align: center;
  font-size: 1em;
}

#footer .title h2 {
  margin: 0 0 1em 0;
  font-weight: 700;
}

#footer .title .byline {
  position: relative;
  padding: 0em 2em;
  top: -2em;
  font-weight: 700;
  font-size: 1.1em;
}

#welcome p {
  padding: 0em 4em;
  text-align: center;
  font-size: 1.1em;
}

#task-list {
  text-align: center;
}

#column1,
#column2,
#column3,
#column4 {
  width: 282px;
}

#column1,
#column2 {
  float: left;
  margin-right: 24px;
}

#column3 {
  float: left;
}

#column4 {
  float: right;
}

